.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90px;
    color: gray;
    cursor: pointer;
    transition: all 0.2s;
    margin-right: 10px;
}
.headerOption__Icon{
    object-fit: contain;
    width: 25px !important;
    height: 25px !important;
}
.headerOption__Avtar {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}
.headerOption__Title {
    font-size: 12px;
    font-weight: 400;
}
.headerOption:hover {
    color: #000;
}
